<div class="flex flex-col px-5 pt-12 w-full bg-white mt-[717px] max-md:mt-10 max-md:max-w-full">
  <div class="self-center mt-40 w-full max-w-[1392px] max-md:mt-10 max-md:max-w-full">
    <div class="flex gap-5 max-md:flex-col max-md:gap-0 max-md:">
      <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
        <div class="flex flex-col justify-center text-base leading-7 max-md:mt-10 max-md:max-w-full">
          <div class="font-bold text-neutral-900 max-md:max-w-full">
            About Us
          </div>
          <div class="mt-5 text-zinc-800 max-md:max-w-full">
            The Pet Shop Boys are an English synth-pop duo formed in London
            in 1981. Consisting of primary vocalist Neil Tennant and
            keyboardist Chris Lowe, they have sold more than 50 million
            records worldwide, and were listed as the most successful duo
            in UK music history in the 1999 edition of The Guinness Book of
            Records.
          </div>
        </div>
      </div>
      <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
        <div class="grow max-md:mt-10 max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col max-md:gap-0 max-md:">
            <div class="flex flex-col w-[26%] max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col justify-center text-base leading-7 whitespace-nowrap text-zinc-800 max-md:mt-10">
                <div class="font-bold text-neutral-900">Info</div>
                <div class="mt-5">Cinema</div>
                <div class="mt-5">Gallery</div>
                <div class="mt-5">Shop</div>
                <div class="mt-5">News Stand</div>
                <div class="mt-5">Museum</div>
                <div class="mt-5">Record Shop</div>
              </div>
            </div>
            <div class="flex flex-col ml-5 w-[22%] max-md:ml-0 max-md:w-full">
              <div
                class="flex flex-col grow justify-center text-base font-medium leading-7 whitespace-nowrap text-zinc-800 max-md:mt-10">
                <div class="font-bold text-neutral-900">Socials</div>
                <div class="mt-5">Email</div>
                <div class="mt-5">Facebook</div>
                <div class="mt-5">X</div>
                <div class="mt-5">Instagram</div>
                <div class="mt-5">TikTok</div>
                <div class="mt-5">Spotify</div>
                <div class="mt-5">Youtube</div>
              </div>
            </div>
            <div class="flex flex-col ml-5 w-[52%] max-md:ml-0 max-md:w-full">
              <div class="flex flex-col justify-center text-base font-medium leading-7 text-zinc-800 max-md:mt-10">
                <div class="whitespace-nowrap">
                  © 2023 Warner Music UK Limited.
                </div>
                <div class="mt-5">Privacy Policy</div>
                <div class="mt-5">Contacts</div>
                <div class="mt-5">Terms of Use</div>
                <div class="mt-5">Cookie Policy</div>
                <div class="mt-5">Cookie Settings</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="pt-36 w-full font-bold text-[300px] text-neutral-900 max-md:mt-10 max-md:max-w-full max-md:text-4xl bg-white">
  PET SHOP BOYS
</div>