<header class="flex justify-center items-center px-16 py-6 text-white max-md:px-5 sticky top-0" style="background-color: #0b0310">
  <div class="flex gap-5 justify-between max-w-full w-[1100px] max-md:flex-wrap">
    <div class="flex-auto my-auto text-2xl font-bold">PET SHOP BOYS</div>
    <nav class="flex gap-5 justify-between py-4 text-base font-medium leading-7 max-md:flex-wrap max-md:max-w-full">
      <a href="#" aria-label="Cinema">Cinema</a>
      <a href="#" aria-label="Gallery">Gallery</a>
      <a href="#" aria-label="Shop">Shop</a>
      <a href="#" aria-label="News Stand">News Stand</a>
      <a href="#" aria-label="Museum">Museum</a>
      <a class="grow whitespace-nowrap" href="#" aria-label="Record Shop">Record Shop</a>
    </nav>
  </div>
</header>
